@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: transparent;
  --text-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: transparent;
    --text-color: #ececec;
  }
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
